<%= render "shared/errors", obj: @post %>
<%= form_with(model: @post, local: true, class: 'form')  do |f| %>
  <div class="field">
    <%= f.label :title, "Title" %> <br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body, "Body" %> <br>
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>
<% end %>
